@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&family=Poppins:wght@700&family=Raleway:wght@600&family=Ubuntu:wght@700&display=swap");



main {
  margin-top: 100px;
  min-height: calc(100vh - 50px - 50px);
  overflow-x: hidden;
}
